@font-face {
	font-family: "Ink Free";
	src: local("Ink Free"), url(./font/Inkfree.ttf);
}

* {
	background-color: rgb(43, 41, 41);
	width: auto;
	height: auto;
}

h1 {
	font-family: Ink Free;
	color: azure;
	font-size: 1rem;
	margin-top: 30px;
}

.container {
	position: relative;
	width: 1000px;
	height: 120px;
	margin: 200px auto;
	outline: 8px ridge rgba(34, 249, 6, 0.6);
	border-radius: 2rem;
}

.img img {
	width: 15%;
	aspect-ratio: 4/3;
	/*object-fit: contain; entfernt verändert den background*/
	margin: 4px 6px;
	border-radius: 30px;
}
